.BlogPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Posts {
    max-width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  @media screen and (max-width: 1550px) {
    .Posts {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 0;
    }
  }

  @media screen and (max-width: 1050px) {
    .Posts {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 0;
    }
  }
}