.Comment {
  display: flex;
  border: 0 solid;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  background: rgb(236, 242, 246);
  flex-direction: column;
  justify-content: flex-start;
  transition: 0.33s;

  &:hover {
    border-radius: 10px;
    background: rgb(200, 223, 238);
  }
}