.Main {
  h1 {
    font-family: Bahnschrift;
  }

  .TheBestName {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: white;
      font-size: 100px;
    }
  }
}